<section class="app-header" id="app-header-1">

	<article class="home-link-area" id="home-link-area"
			 type="button"
			 onclick="location.href='@Url.Action("Index", "Home")'">

		<p class="home-link">Project Manager</p>

	</article>

	<article id="fields-link-1" class="header-link-area"
			 type="button"
			 onclick="location.href='@Url.Action("Index", "Fields")'">

		<p class="header-link">Fields</p>

	</article>

	<article id="fields-link-1" class="header-link-area"
			 type="button"
			 onclick="location.href='@Url.Action("Index", "People")'">

		<p class="header-link">People</p>

	</article>

	<article id="fields-link-1" class="header-link-area"
			 type="button"
			 onclick="location.href='@Url.Action("Index", "WorkSections")'">

		<p class="header-link">Sections</p>

	</article>

	<article id="fields-link-1" class="header-link-area"
			 type="button"
			 onclick="location.href='@Url.Action("Index", "StateAndSettings")'">

		<p class="header-link">Settings</p>

	</article>

	<article id="calendar1" class="header-link-area">

		<p class="header-link">Calendar</p>

	</article>

</section>


<hr class="h-line" />
