@model IEnumerable<ProjectManager.Models.JobPerson>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Job)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Job.JobName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Person.GivenNames) @Html.DisplayFor(modelItem => item.Person.FamilyNames)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.JobPersonID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.JobPersonID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.JobPersonID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
