@model IEnumerable<ProjectManager.Models.WorkSection>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Person)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Job)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Start)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.End)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Person.FamilyNames), @Html.DisplayFor(modelItem => item.Person.GivenNames)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Job.JobName)
				</td>
				<td>
					@TimeOnly.FromDateTime(item.Start)
				</td>
				<td>
					@item.End <!--item.End.ToString().Substring(item.End.ToString().Length - 8)-->
				</td>
				<td>
					@(item.End - item.Start)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.WorkSectionID">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.WorkSectionID">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.WorkSectionID">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
